.bodyL {
    float: left;
    width: 50%;
    height: 345px;
    background-size: cover;
    background-image: url("http://digitalbusinessstop.com/wp-content/uploads/2018/05/Wyvern-programming-languages-in-one.jpg");
}
.bodyR {
    float: right;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.8em;
    width: 100%;
    height: 345px;
}
.body {
    width: 100%;
    display: table;
}
.bodyR  {
    text-align: center;
    line-height: 100px;
}
.p{
    margin-top: 85px;
    line-height: 100%;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 15px 32px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: black;
    color: white;
}
.buttonList{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 15px 32px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;


    margin: -20px -50px;
    position: relative;
    top:20%;
    left:50%;
}
.buttonList:hover {
    background-color: black;
    color: white;
}
.changeList{
    width: 50%;
    float: right;
    height: 345px;
}
.listDiv{
    width: 100%;
    float: right;
    height: 345px;
}
.list {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    font-size: 1.5em;
}
li{
    margin-top: 5px;
}
li:active{
    transition: 1s;
    left: 0;
}
.pirmas1 {
    font-size: 30px;
    -webkit-transition-duration: 3s; /* Safari */
    transition-duration: 3s;
    opacity: 1;

}
.pirmas{
    font-size: 50px;
opacity: 0;
    -webkit-transition-duration: 3s; /* Safari */
    transition-duration: 3s;
}



