.bodyL {
    float: left;
    width: 50%;
    height: 500px;
    background-size: cover;
    background-image: url("http://digitalbusinessstop.com/wp-content/uploads/2018/05/Wyvern-programming-languages-in-one.jpg");
}
.bodyR {
    float: right;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.8em;
    width: 100%;
    height: 500px;
}
.body {
    width: 100%;
    display: table;
}
.bodyR  {
    text-align: center;
    line-height: 100px;
}
.p{
    margin: 85px 25px;
    line-height: 100%;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 15px 32px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: black;
    color: white;
}
.buttonList{
    opacity: 0;
}
.buttonList1{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 15px 32px;
    font-size: 16px;

    margin: -20px -50px;
    position: relative;
    left:50%;
    opacity: 1;
    -webkit-transition-duration: 3.5s; /* Safari */
    transition-duration: 3.5s;
}
.buttonList1:hover {
    background-color: black;
    color: white;
}
.changeList{
    width: 50%;
    float: right;
    height: 345px;
}
.listDiv{
    width: 100%;
    float: right;
    height: 345px;
}
.list {
    margin: 100px auto ;
    display: table;
    font-size: 1.5em;
    text-align: center
}
li{
    margin-top: 15px;
}

.pirmas1 {
    transform: scale(1.3, 1.3);
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    opacity: 1;

}
.pirmas{
    opacity: 0.1;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
    z-index: -1;
}
.antras1 {
    transform: scale(1.4, 1.4);
    -webkit-transition-duration: 2s; /* Safari */
    transition-duration: 2s;
    opacity: 1;

}
.antras{
    opacity: 0.1;
    -webkit-transition-duration: 2s; /* Safari */
    transition-duration: 2s;
    z-index: -5;
}

.trecias1 {
     transform: scale(1.5, 1.5);
     -webkit-transition: 3s ease-in-out; /* Safari */
     transition: 3s ease-in-out;
     opacity: 1;
    backface-visibility: hidden

 }
.trecias{
    opacity: 0.1;

}



