.bodyL {
    float: left;
    width: 50%;
    height: 345px;
    background-image: url("http://digitalbusinessstop.com/wp-content/uploads/2018/05/Wyvern-programming-languages-in-one.jpg");
}
.bodyR {
    float: right;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.8em;
    width: 50%;
    height: 345px;
}
.body {
    width: 100%;
    display: table;
}
.bodyR  {
    text-align: center;
    line-height: 100px;
}
.p{
    margin-top: 85px;
    line-height: 100%;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 15px 32px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: black;
    color: white;
}

