.image{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url("https://c.wallhere.com/photos/00/27/technology_laptop_keyboards-283624.jpg!d");
    z-index: -1;
    position: relative;
    top: 0;
    left: 0;
}
.logo{
    height: 100px;
    position: absolute;
    margin: auto;
    display: block;
    top: 100px;
    left: 0;
    right: 0;
}
.topText {
    height: 100px;
    width: 38%;
    position: absolute;
    margin: auto;
    display: block;
    top: 200px;
    left: 0;
    right: 0;
    font-size: 2.8em;
    color: aliceblue;
}