.bodyL1 {
    float: right;
    width: 50%;
    height: 345px;
    background-size: cover;
    background-image: url("https://mybroadband.co.za/news/wp-content/uploads/2016/01/Programmer-working-computer-code.jpg");
}
.bodyR1 {
    float: left;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.8em;
    width: 50%;
    height: 345px;
}
.body1 {
    width: 100%;
    display: table;
    border-top: solid 2px black;
}
.bodyR1  {
    text-align: center;
    line-height: 100px;
}
.p1{
    margin-top: 85px;
    line-height: 100%;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 15px 32px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: black;
    color: white;
}

