
.App {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  overflow: scroll;
}
#footer{
  position:fixed;
  left:0;
  bottom:0;
  height:30px;
  width:100%;
  background:#999;
}
.header {
  background: #bed5f3 ;
  height: 40px;
  border: solid 0.1em black;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width:100%;
  opacity: 0.8
}
#name{
  float: left;
  margin-left: 35px;
  font-size: 1.7em;
  font-family: 'Oswald', sans-serif;
  opacity: 1;
}

#about {
  margin-left: 25px;
  float: right;
  margin-right: 25px;
  font-size: 1.7em;
  font-family: 'Oswald', sans-serif;
  opacity: 1;
}
#info {
  margin-left: 25px;
  float: right;
  font-size: 1.7em;
  font-family: 'Oswald', sans-serif;
  opacity: 1;
}
#contact {
  margin-left: 25px;
  float: right;
  font-size: 1.7em;
  font-family: 'Oswald', sans-serif;
  opacity: 1;
}
.header1{
  background: #bed5f3 ;
  height: 40px;
  border: solid 0.1em black;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  width:100%;
  opacity: .7
}

